{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}

{% block pageTitle %}{% if form.errors %}Error: {% endif %}Search by title number – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({'text': 'Back', 'href': url_for('search.choose')}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if form.errors %}
      {{ govukErrorSummary(wtforms_errors(form)) }}
    {% endif %}

    <h1 class="govuk-heading-l">What is the title number?</h1>

    <form action="" method="post" novalidate>
      {{ form.csrf_token }}

      {{ form.title_number(params={
        'label': {'text': 'Title number', 'classes': 'govuk-label--m'},
        'hint': {'text': 'For example, SGL123456'},
        'classes': 'govuk-input--width-10',
        'spellcheck': false,
        'autocomplete': 'off'
      }) }}

      {{ form.submit(params={'text': 'Continue'}) }}
    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('search.postcode') }}">Search by postcode instead</a>
    </p>

  </div>
</div>
{% endblock %}
